.banner-area {
    padding-top: 92px;
    padding-bottom: 233px;
}
.banner-content {
    max-width: 1620px;
    position: relative;

    h2 {
        font-size: 128px;
        font-weight: 700;
        line-height: 117.188%;
        position: relative;
        z-index: 1;
        margin-top: 20px;

        .banner-info {
            width: 250px;
            height: 250px;
            transform: rotate(-20deg);
            border-radius: 15px;
            object-fit: cover;
            margin: 0 50px;
            position: relative;
            top: 12px;
        }
        span {
            display: inline-block;
            margin-left: 200px;
        }
        &.adventure {
            margin-top: -70px;
        }
    }
    .description {
        max-width: 536px;
        margin-top: 60px;

        p {
            margin-bottom: 20px;
        }
    }
    .gap-95 {
        gap: 95px;
        position: relative;
        margin-top: -30px;
    }
}
.banner-img {
    position: absolute;
    bottom: -20px;
    right: 80px;
    transform: rotate(-20deg);
    z-index: -2;
}
.banner-shape {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .banner-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .banner-content {
        h2 {
            font-size: 25px;
            margin: 0;

            .banner-info {
                width: 30px;
                height: 30px;
                margin: 0;
                top: 5px;
                transform: unset;
            }
            span {
                margin-left: 0;
            }
            &.adventure {
                margin-top: 0;
            }
        }
        .gap-95 {
            gap: 30px;
            margin-top: 10px;
        }
        .description {
            margin-top: 20px;
        }
    }
    .banner-img {
        position: unset;
        transform: unset;
        margin-top: 30px;
    }
    
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .banner-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .banner-content {
        h2 {
            font-size: 50px;
            margin: 0;

            .banner-info {
                width: 30px;
                height: 30px;
                margin: 0;
                top: 5px;
                transform: unset;
            }
            span {
                margin-left: 0;
            }
            &.adventure {
                margin-top: 0;
            }
        }
        .gap-95 {
            gap: 30px;
            margin-top: 10px;
            align-items: start !important;
        }
        .description {
            margin-top: 20px;
        }
    }
    .banner-img {
        position: unset;
        transform: unset;
        margin-top: 30px;
        text-align: center;
    }
    
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .banner-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .banner-content {
        h2 {
            font-size: 80px;
            margin: 0;

            .banner-info {
                width: 80px;
                height: 80px;
                margin: 0;
                top: 5px;
                transform: unset;
            }
            span {
                margin-left: 0;
            }
            &.adventure {
                margin-top: 0;
            }
        }
        .gap-95 {
            gap: 30px;
            margin-top: 10px;
            align-items: start !important;
        }
        .description {
            margin-top: 20px;
        }
    }
    .banner-img {
        position: unset;
        transform: unset;
        margin-top: 30px;
        text-align: center;
    }
    
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .banner-content {
        h2 {
            font-size: 80px;

            .banner-info {
                width: 200px;
                height: 200px;
            }
        }
    }
    .banner-img {
        transform: unset;
        margin-top: 30px;
        bottom: 0;
        z-index: -1;
    }
    
}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

    .banner-content {
        h2 {
            font-size: 80px;
        }
    }
    .banner-img {
        transform: unset;
        margin-top: 30px;
        bottom: 0;
        z-index: -1;
    }
    
}