@use "../text-slider/text-slider.scss" as *;

.top-categories-area {
    padding: 24px 0; 
}
.categories-title {
    font-size: 24px;
    margin-bottom: 0;
    width: 170px;
}
.categories-single-item {
    border: 1px solid var(--whiteColor);
    border-radius: 100px;
    padding: 1px;
    padding-right: 30px;
    transition: var(--transition);
    width: 100%;
    span {
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
        color: var(--blackColor);
    }
    &:hover {
        background-color: var(--whiteColor);
    }
}
.top-categories-wrap {
    transform: unset !important;
    .monogram {
        font-size: 16px;
    }
}
.adventure-categories-single-item {
    transition: var(--transition);
    img {
        border-radius: 10px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 24px;
        font-weight: 700;
        transition: var(--transition);
    }
    span {
        color: var(--bodyColor);
    }
    &:hover {
        transform: translateY(-5px);
        h3 {
            color: var(--primaryColor);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .categories-title {
        font-size: 20px;
    } 
    .adventure-categories-single-item {
        img {
            margin-bottom: 10px;
        }
        h3 {
            font-size: 20px;
        }
    }

}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .categories-title {
        font-size: 22px;
    } 
    .adventure-categories-single-item {
        img {
            margin-bottom: 15px;
        }
        h3 {
            font-size: 22px;
        }
    }
    
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .adventure-categories-single-item {
        img {
            margin-bottom: 10px;
        }
        h3 {
            font-size: 20px;
        }
    }

}

/* Min width 1399px */
@media (min-width: 1399px) {

    .top-categories-area {
        .container-fluid {
            padding: {
                left: calc((100% - 1620px) / 2);
                right: 0;
            };
        }
        .gap-78 {
            gap: 78px;
        }
    }


}