.explore-our-bg-wrap {
    .bg-img {
        position: relative;
        top: 0;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 100%);
            z-index: -1;
        }
    }
}
.explore-single-item {
    border-radius: 10px;
    border: 0 solid rgba(255, 255, 255, 0.00);
    background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(20px);
    max-width: 375px;

    img {
        border-radius: 10px 10px 0 0;
    }
    .explore-card-content {
        padding: 30px;
        border-radius: 0 0 10px 10px;

        .title {
            text-decoration: none;
            margin-bottom: 18px;

            h3 {
                font-size: 24px;
                margin-bottom: 0;
                color: var(--whiteColor);
            }
        }
        p {
            color: var(--whiteColor);
        }
        .dec {
            margin-bottom: 18px;
        }
        .read-more {
            margin-top: 42px;
            padding-top: 30px;
            border-top: 1px solid rgba(224, 224, 224, 0.2);
            color: var(--whiteColor);
        }
    }
}
.thumb-item {
    max-width: 265px;
    cursor: pointer;

    img {
        width: 265px;
        height: 250px;
        object-fit: cover;
    }
    h3 {
        padding: 20px;
        font-size: 24px;
        color: var(--whiteColor);
        font-weight: 700;
        line-height: 130%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    img {
        border-radius: 20px;
    }
}
.title-thumb-wrap {
    max-width: 1135px;
    bottom: 120px;
    right: 150px;
    position: absolute;
    z-index: 1;
}
.explore-our-cities-arrow {
    .slide-icon {
        i {
            background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
            border: 1px solid rgba(255, 255, 255, 0.50);
            backdrop-filter: blur(20px);
            color: var(--whiteColor);
        }
    }
}
::ng-deep {
    .explore-our-cities-slide-thumb {
        .owl-theme {
            .owl-nav {
                right: 0;
                gap: 10px;
                top: -112px;
                display: flex;
                margin-top: 0;
                position: absolute;
                align-items: center;
                justify-content: center;
                [class*='owl-'] {
                    margin: 0;
                    padding: 0;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    font-size: 18px;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    color: var(--whiteColor);
                    backdrop-filter: blur(20px);
                    transition: var(--transition);
                    border: 1px solid rgba(255, 255, 255, 0.50);
                    background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
                    &:hover {
                        color: var(--whiteColor);
                        border-color: var(--primaryColor);
                        background-color: var(--primaryColor);
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .title-thumb-wrap {
        position: unset;
        max-width: 516px;
        margin: auto;
        margin-top: 60px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .explore-our-cities-area {
        background-color: #1e1e1e;
        padding-bottom: 60px;
    }
    ::ng-deep {
        .explore-our-cities-slide-thumb {
            .owl-theme {
                .owl-nav {
                    top: 0;
                    margin-top: 25px;
                    position: relative;
                    [class*='owl-'] {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .title-thumb-wrap {
        position: unset;
        max-width: 696px;
        margin: auto;
        margin-top: 60px;
    }
    .explore-our-cities-area {
        background-color: #1e1e1e;
        padding-bottom: 60px;
    }
    ::ng-deep {
        .explore-our-cities-slide-thumb {
            .owl-theme {
                .owl-nav {
                    top: -100px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .title-thumb-wrap {
        max-width: 550px;
        right: 30px;
    }
    .thumb-item {
        h3 {
            font-size: 18px;
            padding: 10px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    // .explore-our-cities-area {
    //     .bg-img {
    //         padding-bottom: 400px;
    //     }
    // }
    .title-thumb-wrap {
        max-width: 700px;
        right: 50px;
    }

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1500px) {

    .title-thumb-wrap {
        max-width: 900px;
        right: 50px;
    }

}

/* Min width 1500px to Max width 1760px */
@media only screen and (min-width: 1500px) and (max-width: 1760px) {

    .title-thumb-wrap {
        max-width: 1000px;
        right: 50px;
    }

}

/* Min width 1399px */
@media (min-width: 1399px) {

    .ms-112 {
        margin-left: 112px;
    }
    .explore-our-cities-arrow {
        margin-right: 18px; 
    }

}