.current-openings-single-item {
    border: 1px solid #D7DAE0;
    padding: 22px 40px;
    border-radius: 10px;
    margin-bottom: 10px;

    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .current-openings-single-item {
        padding: 20px;

        h3 {
            font-size: 20px;
        }
    }

}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .current-openings-single-item {
        padding: 25px;

        h3 {
            font-size: 22px;
        }
    }

}

/* Min width 1399px */
@media (min-width: 1399px) {

    .gap-90 {
        gap: 90px !important;
    }
    .gap-85 {
        gap: 85px !important;
    }
    .current-openings-single-item {
        .for-border {
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: -23px;
                transform: translateY(-50%);
                width: 1px;
                height: 100%;
                background-color: #D7DAE0;
                z-index: -1;
            }
        }
    }
    
}