.career-step-single-item {
    .count {
        width: 100px;
        height: 100px;
        text-align: center;
        display: inline-block;
        background-color: var(--primaryColor);
        border-radius: 100px;
        margin-bottom: 23px;

        span {
            background-color: var(--whiteColor);
            width: 50px;
            height: 50px;
            line-height: 43px;
            text-align: center;
            display: inline-block;
            color: var(--blackColor);
            font-size: 24px;
            font-weight: 700;
            border-radius: 50px;
            font-family: var(--headingFontFamily);
        }
    }
    h3 {
        font-size: 24px;
        margin-bottom: 8px;
    }
}
.career-details-content {
    h3 {
        font-size: 24px;
        margin-bottom: 17px;
        margin-top: 40px;

        &:first-child {
            margin-top: 0;
        }
    }
    h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    ul {
        li {
            margin-bottom: 7px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.career-form {
    border-radius: 10px;
    background-color: #FAFAFB;
    padding: 30px;

    h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .form-control {
        border-radius: 5px;
        border: 1px solid #E0E0E0;
        padding: 12px 20px;
        font-size: 16px;
        margin-bottom: 15px;
        background-color: var(--whiteColor);

        &:focus {
            box-shadow: none;
            border-color: var(--primaryColor);
        }
        &::placeholder {
            color: var(--bodyColor);
            font-size: 16px;
        }
        &.form-select {
            color: var(--bodyColor);
        }
    }
    
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    
    .career-step-single-item {
        .count {
            margin-bottom: 10px;
        }
        h3 {
            font-size: 20px;
            margin-bottom: 5px; 
        }
    }
    .career-form {
        padding: 25px;
    }
    .career-details-content {
        h3 {
            font-size: 20px;
        }
        h4 {
            font-size: 18px;
        }
    }

}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .career-step-single-item {
        .count {
            margin-bottom: 13px;
        }
        h3 {
            font-size: 22px;
            margin-bottom: 8px; 
        }
    }
    .career-details-content {
        h3 {
            font-size: 22px;
        }
        h4 {
            font-size: 18px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {

    .career-step-single-item {
        .count {
            margin-bottom: 10px;
        }
        h3 {
            font-size: 20px;
            margin-bottom: 5px; 
        }
    }

}

/* Min width 1399px */
@media (min-width: 1399px) {
    
    .career-details-content {
        max-width: 760px;
    }
    
}