<div class="city-tours-area pt-120">
    <div class="container mw-1680">
        <div class="mb-50">
            <h2 class="main-title ms-0">Major Destinations</h2>
            <p>Explore our most sought-after travel locations around the India</p>
        </div>
        <div class="city-tours-slide">
            <owl-carousel-o *ngIf="destinations.length" [options]="toursSlider">
                <ng-template carouselSlide *ngFor="let dest of destinations">
                    <div class="city-tour-single-item">
                        <a [routerLink]="['/destination', dest.id]" class="d-block text-decoration-none city-tour-img">
                              <img [src]="'https://www.inigotravels.com/bknd/uploads/' + dest.image" alt="{{ dest.title }}" />
                        </a>
                        <div class="city-tour-content">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center review">
                                    <div class="d-flex align-items-center">
                                        <i class="ri-star-fill text-warning"></i>
                                        <i class="ri-star-fill text-warning"></i>
                                        <i class="ri-star-fill text-warning"></i>
                                        <i class="ri-star-fill text-warning"></i>
                                        <i class="ri-star-fill text-warning"></i>
                                    </div>
                                    <span>4.9 (28 reviews)</span>
                                </div>
                            </div>
                            <a [routerLink]="['/destination', dest.id]" class="text-decoration-none d-block title">
                                 <h3>{{ dest.title }}</h3>
                            </a>
                            <div class="book-hours d-flex justify-content-between align-items-center">
                                <a routerLink="/booking-form" class="read-more">
                                    <span>Book Now</span>
                                    <i class="ri-arrow-right-long-line"></i>
                                </a>
                                <div routerLink="/all-destinations" class="d-flex align-items-center gap-10" style="cursor: pointer;">
                                    <span class="fs-14">View All</span>
                                    <i class="ri-arrow-right-long-line"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>