<app-page-banner [title]="`Tour Listing`" />

<!-- Tour Listing -->
<div class="packages-area ptb-120">
    <div class="container mw-1345">
        <div class="row g-4 gy-42">
            <div class="col-xl-4 col-md-6" *ngFor="let dest of paginatedData; trackBy: trackByIndex">
                <div class="packages-single-item">
                    <div class="packages-img position-relative">
                        <a [routerLink]="['/tour-details', dest.id]" class="d-block">
                            <img [src]="
                                    'https://www.inigotravels.com/bknd/uploads/' +
                                    dest.image
                                " alt="{{ dest.title }}" />
                        </a>
                        <!-- ADMIN ACTIONS -->
                        <div *ngIf="authService.isAdmin()">
                            <button type="button" class="btn btn-warning" style="
                                padding: 4px 10px;
                                background-color: var(--secondaryColor);
                                color: var(--blackColor);
                                position: absolute;
                                top: 0;
                                left: 0;
                                margin: 20px;
                                border-radius: 5px;
                            " (click)="openEditModal(dest)">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger" style="
                                                    padding: 4px 10px;
                                                    position: absolute;
                                                    top: 0;
                                                    right: 0;
                                                    margin: 20px;
                                                    border-radius: 5px;
                                                  " (click)="deleteTour(dest)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                </svg>&nbsp;&nbsp;Delete
                            </button>
                        </div>
                    </div>
                    <div class="packages-content">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <div class="d-flex align-items-center gap-15">
                                <div class="d-flex align-items-center gap-10">
                                    <i class="ri-map-pin-line text-primary"></i>
                                    <span class="fs-14">{{ dest.title }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center review">
                                <div class="d-flex align-items-center">
                                    <i class="ri-star-fill text-warning"></i>
                                    <i class="ri-star-fill text-warning"></i>
                                    <i class="ri-star-fill text-warning"></i>
                                    <i class="ri-star-fill text-warning"></i>
                                    <i class="ri-star-fill text-warning"></i>
                                </div>
                                <span>5 (19 reviews)</span>
                            </div>
                        </div>
                        <a [routerLink]="['/tour-details', dest.id]" class="title d-block text-decoration-none">
                            <h3>{{ dest.title }}</h3>
                        </a>
                        <p>{{ dest.sub_heading }}</p>
                        <a routerLink="/booking-form" class="read-more">
                            <span>Book Now</span>
                            <i class="ri-arrow-right-long-line"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pagination-area d-flex align-items-center justify-content-center">
                    <!-- PREV -->
                    <button class="next page-numbers border-0" (click)="prevPage()" [disabled]="currentPage === 1">
                        <i class="ri-arrow-left-long-line"></i>
                    </button>

                    <!-- PAGE NUMBERS -->
                    <button *ngFor="
                            let p of [].constructor(totalPages);
                            let i = index
                        " class="page-numbers border-0" [class.current]="currentPage === i + 1"
                        (click)="setPage(i + 1)">
                        {{ i + 1 | number: "2.0" }}
                    </button>

                    <!-- NEXT -->
                    <button class="next page-numbers border-0" (click)="nextPage()"
                        [disabled]="currentPage === totalPages">
                        <i class="ri-arrow-right-long-line"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>