.returning {
    border-radius: 10px;
    background: #FAFAFB;
    box-shadow: -1px 0 0 0 var(--primaryColor);
    font-size: 16px;
    font-weight: 700;
    color: var(--blackColor);
    padding: 18px 30px;
    margin-bottom: 10px;

    a {
        color: var(--primaryColor);
        font-weight: 400;
        text-decoration: none;
    }
    &.two {
        box-shadow: -1px 0 0 0 var(--secondaryColor);
    }
}
.checkout-form {
    h3 {
        margin-top: 45px;
        margin-bottom: 15px;
        font-size: 24px;
    }
}
.cart-total-area {
    border-radius: 10px;
    background: #FAFAFB;
    padding: 30px;

    h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    ul {
        li {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid #E0E0E0;

            
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}

/* Min width 767px */
@media (min-width: 1399px) {

    .checkout-form {
        max-width: 760px;
    }
    .cart-total-area {
        padding: 20px;

        ul {
            li {
                margin-bottom: 10px;
                padding-bottom: 10px;
            }
        }
    }
    
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .cart-total-area {
        padding: 25;

        ul {
            li {
                margin-bottom: 15px;
                padding-bottom: 15px;
            }
        }
    }

}